.App {
  width: auto!important;
  margin-left: 2em!important;
  margin-right: 2em!important;
  font-family: auto!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alternate-color:nth-child(odd) {
  background: #f2f2f2;
}

.alternate-color:nth-child(even) {
  background: #ffffff;
}

.search-bar {
  border-radius: .28571429rem!important
}

.filter-bar {
  padding-top: 2em!important;
  background: aliceblue;
}

.left-group-actions {
  display: inline-flex!important;
}

.right-group-actions {
  display: inline-flex!important;
  width: auto!important;
  float: right!important;
  padding-right: 0.75em;
}

.search-bar {
  padding-right: 0.2em!important;
}

th i {
  cursor: pointer;
}

.logo {
  background: url(./assets/img/logo.png) center no-repeat;
  height: 32px;
  width: 32px;
  float: left;
  margin: 1.1em 0em 0em 0.8em;
  margin-right: 1em;
}

.table {
  background: aliceblue;
  font-size: 1.05em!important;
  /* margin-bottom: 3em; */
}

.page-title {
  margin-top: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 1.3em;
}

.page-title span {
  font-weight: lighter;
}

.top-bar {
  background: #005db9!important;
}

.tab-bg {
  background: #bcaaa4!important;
}

.logo-container {
  width: 100%;
}

.footer {
  background: #ddd5d0;
  /* height: 40px; */
  /* position: fixed!important; */
  bottom: 0;
  width: 97.99%!important;
}

.right-group-footer {
  display: inline-flex!important;
  width: auto!important;
  float: right!important;
  padding-right: 0.75em;
}

.left-group-footer {
  display: inline-flex!important;
}

.block-name {
  color: #025db9;
  font-size: 1.2em;
  font-weight: bold;
}

.block-details {
  padding-left: 1.5em!important;
  width: 40%!important;
}

.block-owner {
  padding-right: 1em!important; 
}

.block-number {
  width: 1%!important;
}